<div class="card">
  <img src="assets/images/eco-archive.jpg" class="image-top card-img-top" alt="¿Cuándo llega Matilda?">
  <div class="card-body">
    <h5 class="card-title">El archivo de Matilda</h5>
    <p class="card-text">Acá están todas las fotos de Matilda! y son muchas!</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center text-white bg-info">
      Semana 28
    </li>
    <li class="list-group-item text-center">
      Fotos fotos
    </li>
  </ul>
  <div class="card-body text-center" *ngIf="!state.upload.show">
    <button type="button" class="btn btn-link card-link" (click)="state.upload.show = true">Subir una foto de
      matilda!</button>
  </div>
  <div class="card-body text-center" *ngIf="state.upload.show">
    <form [formGroup]="state.upload.form" (ngSubmit)="onSubmitUpload()">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Semana</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" min="1" max="45" formControlName="week">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Foto</label>
        <div class="col-sm-6">
          <input type="file" class="form-control-file" formControlName="image" (change)="imageChange($event)" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary mr-3" [disabled]="state.upload.form.invalid">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="uploadCancel()">Cancelar</button>
    </form>
  </div>
</div>
