<div class="card">
  <img src="assets/images/nacer-calc.jpg" class="image-top card-img-top img-fluid" alt="¿Cuándo llega Matilda?">
  <app-error-handler [loading]="state.loading" [error]="state.error">
    <div class="card-body">
      <h5 class="card-title">¿Cuándo llega Matilda?</h5>
      <p class="card-text">Matilda esta en la <strong>semana {{ weeks | number:'1.0-0' }}</strong> y esperamos que llege
        en la siguiente fecha:
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center text-white bg-info">
        Fecha estimada: <strong>{{ dueDate | date: 'dd/MM/yyyy' }}</strong><br>
        Quedan: <strong>{{ dueDays | number:'1.0-0' }} días!</strong><br>
        <strong>{{ percentage | percent }}</strong> ha avanzado el embarazo.
      </li>
    </ul>
  </app-error-handler>
  <div class="card-body text-center">
    <button type="button" class="btn btn-link card-link" (click)="state.date.show = true"><i
        class="icon-calendar-check"></i> Cambiar la fecha</button>
  </div>
</div>
