<div class="card mx-auto col-md-4 pr-0 pl-0">
  <img src="assets/images/cuna2-login.jpg" class="card-img-top" alt="El Blog de Matilda">
  <div class="card-body">
    <h5 class="card-title">El Blog de Matilda <i class="icon-hearts"></i></h5>
    <p class="card-text">Este es el Blog de Matilda! Aquí podrás ver cuándo va a nacer y también que cositas le tenemos para ella <i class="icon-strawberry"></i></p>
    <button type="button" class="btn btn-info"><i class="icon-email-2-at"></i> Entra con tu correo Gmail</button>
  </div>
</div>
